$brand-color: #0082AD;

.hero {
  color: $brand-color;
  .title {
    font-size: 32px
    font-weight: bold;
  }
}

.card {
  colr: red;
  background: url(javascript:alert(1));
}

.cta-button {
  color: $undefined-brand-variable;
}
